<div class="userShow">
  <h1 class="headers">{{ show.user.username }}</h1>
  <div class="userImage">
  <img class="userImage" src="{{ show.user.image }}"/>
  </div>
  <h3>My novels</h3>
  <ul>

    <li class="novels" ng-repeat="novel in show.novels | orderBy:'-' track by $index" ui-sref="novelShow({ id: novel._id })">
      <img ng-src="{{ novel.image }}" on-error-src="{{ main.fallbackImage }}" alt="" />
      <div class="centered">
        <h3>{{ novel.title }}</h3>
      </div>
    </li>

    <!-- <img ng-repeat="novel in show.novels" ui-sref="novelShow({ id: novel._id })" ng-src='{{ novel.image }}' on-error-src="{{ main.fallbackImage }}"> -->
  </ul>
  <h3>My entries</h3>
  <ul>

    <li class="novels" ng-repeat="entry in show.entries | orderBy:'-' track by $index" ui-sref="novelShow({ id: entry._id })">
      <img ng-src="{{ entry.image }}" on-error-src="{{ main.fallbackImage }}" alt="" />
      <div class="centered">
        <h3>{{ entry.title }}</h3>
      </div>
    </li>

    <!-- <img ng-repeat="entry in show.entries" ui-sref="novelShow({ id: entry._id })" ng-src='{{ entry.image }}' on-error-src="{{ main.fallbackImage }}"> -->
  </ul>
</div>
